.pageUIContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 40px 40px;

  background-color: white;
}

.checkoutButton {
  color: #161616;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;

  transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.checkoutButton:hover {
  color: white;
  background-color: black;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 2rem;
  gap: 1rem;
  min-height: 300px;
}

.emptyState p {
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;

  color: black;
}

.emptyIcon {
  width: 64px;
  height: 64px;
  color: black;

  pointer-events: none;
}

@media (max-width: 480px) {
  .emptyState {
    min-height: 100%;
    padding: 0;
  }
}