.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  margin: auto;
  text-align: center;
}

.iconWrapper {
  margin-bottom: 16px;
}

.icon {
  width: 84px;
  height: 84px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #d9b56f;
}

.message {
  font-size: 16px;
  margin-bottom: 24px;
  color: black;
}

.button:focus {
  outline: 2px solid var(--brand-gold-light);
  outline-offset: 2px;
}
