.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  /* max-width: 360px; */
  margin: auto;
  text-align: center;
}

.iconWrapper {
  margin-bottom: 16px;
}

.icon {
  width: 84px;
  height: 84px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #d9b56f;
}

.message {
  font-size: 16px;
  margin-bottom: 24px;
  color: black;
}

.button {
  background-color: #9c7e4a;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    transform 0.5s ease;
}

.button:hover {
  background-color: #d9b56f;
}

.button:active {
  transform: scale(0.97);
}

.button:focus {
  outline: 2px solid #dfbe7c;
  outline-offset: 2px;
}
